body {
    background-color: #242d44;
    color: white;
    height: 100vh;
    overflow: hidden;
}

#container {
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 15%;
    line-height: 2.5em;
}

#state {
    display: inline-block;
    color: gold;
    font-size: 36px;
}

#title {
    font-size: 36px;
    user-select: none;
}

#location {
    text-overflow: ellipsis;
}
